



header{
    background-color: #E7FBFF;
    display: flex;
    justify-content:space-around
}

ul{
    display: flex;
    list-style: none;
    
    
}

.btn{
 padding-inline: 20%;
 margin-inline: 20px;
 gap: 1%;
 color: black;
 background-color: blue;
 text-decoration: wavy;

}






/* 
.headerBtn{
    color: black;
    background-color: blue;
    padding: 5px 10px 5px 10px;
    width: 100px;
    font-weight: 800;
    margin: 0 20px 0 20px;
}
.left{
    float: left;
    gap: 10px;
}
.right{
    float: right
}
span{
    
    margin: 0 30px 0 30px;
    font-size: 24px;
    font-weight: 600;
} */